
footer{
	padding: 25px 15px;
	background-color: black;
	font-family:'Poppins',sans-serif; 
	text-align: center;
	align-items: center;
}
footer .logo1{
	flex: 0 0 100%;
	max-width: 100%;
	text-align: center;
	font-size: 45px;
	color: #ffffff;
	font-weight: 900;
}
footer .social{
	flex: 0 0 100%;
	max-width: 100%;
	text-align: center;padding-top: 15px;
}
footer .social a{
	color: #999999;
	text-decoration: none;
	display: inline-block;
	margin: 0px 12px;
	transition: all .5s ease;
	text-decoration: none;
}
footer .social a:hover{
	color: #ffffff;
}