.Watchlist{
    padding: 40px 60px 40px 60px;
    min-height: 500px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 10%;
    border-radius: 5px;
   background-size: cover;
    height: 200px;
    display: inline-block;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  margin-right: 30px;
  margin-bottom: 30px;
  }
  .card::-webkit-scrollbar {
    display: none;
  }
  h2{
      font-size: 20px;
      color: white;
      margin-bottom: 20px;
      margin-top: 20px;
      border-bottom: 3px solid white;
      padding-bottom: 4px;
      
      
  }
  .heading{
      margin-left:43%;
      margin-right: 43%;
  }
  .heading1{
    margin-left:43%;
    margin-right: 42.5%;
}
  h3{
    font-size: 15px;
    color: white;
    margin-bottom: 10px;
    margin-top: 20px;
}
h5{
    font-size: 12px;
    color: grey;
    margin-bottom: 20px;
  
}
  .card:hover {
    transform: scale(1.08);
    transition: all 0.2s;
  }
  
  img {
    border-radius: 5px 5px 0 0;
   width: 120px;
   height: 200px;
  
  }
  
